<!-------------------------------- Row 1 Beginn ------------------------------------------>
<div>
     <div>
     <h1 style="text-align: center; color: white;">Meet the Team</h1>
     </div>
</div>
<!-------------------------------- Row 1 End ------------------------------------------>

<div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="card d-flex mx-auto">
              <div class="card-image"> <img class="img-fluid d-flex mx-auto" src="https://i.ibb.co/x3kNLyV/akl1994.png"> </div>
              <div class="card-text">
                <div class="card-title">Alex Lopez</div> I am a graduate of a Java Full-Stack Programming bootcamp and former US Army Healthcare Specialist, looking for a challenging software development position.
              </div>
              <div class="footer"> <span id="name">Full-Stack Developer<br></span><a href="https://www.linkedin.com/in/alex-lopez94/">LinkedIn Profile</a> </div>
            </div>
            <div class="card d-flex mx-auto">
              <div class="card-image"> <img class="img-fluid d-flex mx-auto" src="https://i.ibb.co/dLvLNhM/FB977-C7-A-553-D-4-A81-A217-9-F3-B62-BF6136-1-105-c.jpg"> </div>
              <div class="card-text">
                <div class="card-title">Brandon Files</div> Recent graduate of Java Full-Stack coding bootcamp, looking for challenging software development position. US Air Force veteran with experience in space operations, cybersecurity, and software development.
              </div>
              <div class="footer"> <span id="name">Full-Stack Developer<br></span><a href="https://www.linkedin.com/in/bfiles/">LinkedIn Profile</a> </div>
            </div>
            <div>
              <div class="card d-flex mx-auto">
                <div class="card-image"> <img class="img-fluid d-flex mx-auto" src="https://i.ibb.co/XCzF3kj/profil-Pic.jpg"> </div>
                <div class="card-text">
                  <div class="card-title">Thomas Stagnaro</div> Java Full-Stack developer, participant and winner of hackathons, contributor to iPhone App store, looking for challenging software development position.
                </div>
                <div class="footer"> <span id="name">Full-Stack Developer<br></span><a href="https://www.linkedin.com/in/tomstagnaro/">LinkedIn Profile</a> </div>
              </div>
            </div>
            <div>
              <div class="card d-flex mx-auto ">
                <div class="card-image"> <img class="img-fluid d-flex mx-auto" src="https://i.ibb.co/W3HNg2w/mephoto.jpg"> </div>
                <div class="card-text">
                  <div class="card-title">Timothy Shumway</div> After leaving the U.S. Army, I attended college where I was introduced to programming. I switched majors from Civil Engineering to Software Engineering. This led me to my current educational endeavor: Skill Distillery Full-Stack Bootcamp. I am looking for my next Software Development challenge.
                </div>
                <div class="footer"> <span id="name">Full-Stack Developer<br></span> <a href="https://www.linkedin.com/in/timothyshumway/">LinkedIn Profile</a> </div>
              </div>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
