
<div class="card mt-3 mx-auto metal" style="width: 75%;" >
  <div class="card-body" >
      <h1 style="text-align: center;">About meal team6</h1>
  </div>
</div>




<!-- Row 2 -->
<div class="container ">
  <div class="row">
    <!-----------------------------col 1-------------------------------->
    <div class="col-3">
      <div class="card mt-3 mx-auto">
        <div class="card-body" style="text-align: center ;">
          <img class="card-img-top" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/copycat-chipotle-chicken-horizontal-1531452615.jpg?crop=1xw:1xh;center,top&resize=768:*" alt="Card image cap">
        </div>
      </div>
      <div class="card mt-3 mx-auto">
        <div class="card-body" style="text-align: center ;">
          <img class="card-img-top" src="    https://images.unsplash.com/photo-1574484284002-952d92456975?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1234&q=80
          " alt="Card image cap">
        </div>
      </div>
      <div class="card mt-3 mx-auto">
        <div class="card-body" style="text-align: center ;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1556694795-b6423d3d5b28?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1300&q=80" alt="Card image cap">
        </div>
      </div>
      <div class="card mt-3 mx-auto">
        <div class="card-body" style="text-align: center ;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1556911220-dabc1f02913a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80" alt="Card image cap">
        </div>
      </div>
    </div>
    <!-----------------------------col 1-------------------------------->
    <!-----------------------------col 2-------------------------------->
    <div class="col-6 card mt-3 mx-auto">
      <div class="card-body" style="text-align: center ;">
        <!-- <body> -->
          <h1><i>Where elite foodies and out-of-idea meal preppers go to find great recipes and
             gastronomic inspiration</i></h1><br><br>
            <h3> Similar to Strava or Runkeeper, Meal team6ers post their gastronomic experiences,
            contribute personal recipes to the community and socialize</h3> <br><h3>Comments, ratings, friends, posts and recipes
          converge to feed the interests and palates of everyone.</h3><br>
          <ul style="text-align: left;">
            <li>Add recipes from the community to your personal cookbook</li>
            <li>Contribute personal recipes to the community</li>
            <li>View and rate recipes</li>
            <li>View and comment on others' recipes and posts</li>
            <li>Search for recipe ideas within the community</li>
          </ul>



          <!-- <h3>Click register to get started.</h3> -->
          <!-- <a href="http://localhost:1776/#/register">register</a> -->
        <!-- </body> -->

      </div>
    </div>
    <!-----------------------------col 2-------------------------------->
    <!-----------------------------col 3-------------------------------->
    <div class="col-3">
      <div class="card mt-3 mx-auto">
        <div class="card-body" style="text-align: center ;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1525755662778-989d0524087e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80" alt="Card image cap">
        </div>
      </div>
      <div class="card mt-3 mx-auto">
        <div class="card-body" style="text-align: center ;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1614436163996-25cee5f54290?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1281&q=80" alt="Card image cap">
        </div>
      </div>
      <div class="card mt-3 mx-auto">
        <div class="card-body" style="text-align: center ;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1525755662778-989d0524087e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80" alt="Card image cap">
        </div>
      </div>
      <div class="card mt-3 mx-auto">
        <div class="card-body" style="text-align: center ;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1506280754576-f6fa8a873550?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1234&q=80" alt="Card image cap">
        </div>
      </div>
    </div>
    <!-----------------------------col 3-------------------------------->


</div>
