
<div class="row theProfile">
  <div class="col-md-2">  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque tenetur delectus enim, ipsam quod pariatur facilis totam commodi officia maiores obcaecati exercitationem voluptates aut rerum dolor error numquam facere! Reprehenderit.
  </div>
  <div class="col-md-8 scroller">
    <div >
    <p class="scrollable">
      <div *ngFor="let p of posts">
        <h3>{{p.description}}</h3>


     </div>
    </div>
    </div>
  <div class="col-md-2">  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque tenetur delectus enim, ipsam quod pariatur facilis totam commodi officia maiores obcaecati exercitationem voluptates aut rerum dolor error numquam facere! Reprehenderit.
  </div>
</div>
<!-- <div class="row">
  <div class="col-*-*">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis eligendi sit rem totam dolore, expedita iure quaerat quae veniam, laudantium molestias consequatur beatae cupiditate magnam. Optio, dignissimos. Dignissimos, iusto iste?</div>
  <div class="col-*-*"></div>
  <div class="col-*-*"></div>
</div> -->

