/* .scroll {
  position: absolute;
  overflow-y: scroll;
} */


.scroller {
  overflow-y: scroll;
  height: 100vh;
}

/* .lockMe {
  overflow-y: hidden;
} */

.theProfile {
  height: 100%;

}

.vertical-menu {
  margin: auto;
  max-width: 216 px;
  background-color: bisque;
  border: black 2px solid;
}
.sideNavBtn {
  margin-bottom: 5px;
  /* margin: auto; */
}

.makeAPost {
  text-align: center;
}

.card, .card-img-top {
  border: 1px solid silver;
  border-radius: 15px;
}

.exscuseThisCard {
  border: none;
}
