<h5>Admin Home</h5>


<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID#</th>
      <th scope="col">Username</th>
      <th scope="col">Password</th>
      <th scope="col">Email</th>
      <th scope="col">Image Url</th>
      <th scope="col">Date Created</th>
      <th scope="col">Role</th>
      <th scope="col">Active</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let user of allUsers; let i = index;">
      <tr>
        <th>{{user.id}}</th>
        <td>{{ user.username }}</td>
        <td>**********</td>
        <td>{{ user.email }}</td>
        <td>{{ user.imgUrl }}</td>
        <td>{{ user.dateCreated }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.enabled }}</td>
      </tr>
    </ng-container>

  </tbody>
</table>
