@import "~bootstrap/dist/css/bootstrap.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}
body {
  background-image: url("https://p0.pxfuel.com/preview/582/417/143/brown-wood-wooden-wall.jpg");
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  background-size: cover;
}

