
<div class="container">
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-10">
      <h3>User Recipes</h3>
      <div class="container">
        <div class="row">
          <div class="col-3">
            <!-- TODO : add saved recipe cards to each column -->

            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil itaque unde rem iste aperiam laborum amet dolor veritatis corrupti quae quod similique, iusto delectus pariatur hic nisi labore odio necessitatibus?
          </div>
          <div class="col-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor perspiciatis in, ullam tenetur nesciunt voluptatum saepe labore quo inventore beatae, molestias, nam maiores facere dolores facilis commodi molestiae? Corporis, neque.
          </div>
          <div class="col-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi esse suscipit, eius nobis velit architecto ipsam vitae nihil minus ut? Fugiat tempora ut tenetur laudantium optio esse quam consequatur ratione!
          </div>
          <div class="col-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi esse suscipit, eius nobis velit architecto ipsam vitae nihil minus ut? Fugiat tempora ut tenetur laudantium optio esse quam consequatur ratione!
          </div>

        <div class="row">
          <div class="col-3">
            <!-- TODO : add saved recipe cards to each column -->

            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil itaque unde rem iste aperiam laborum amet dolor veritatis corrupti quae quod similique, iusto delectus pariatur hic nisi labore odio necessitatibus?
          </div>
          <div class="col-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor perspiciatis in, ullam tenetur nesciunt voluptatum saepe labore quo inventore beatae, molestias, nam maiores facere dolores facilis commodi molestiae? Corporis, neque.
          </div>
          <div class="col-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi esse suscipit, eius nobis velit architecto ipsam vitae nihil minus ut? Fugiat tempora ut tenetur laudantium optio esse quam consequatur ratione!
          </div>
          <div class="col-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi esse suscipit, eius nobis velit architecto ipsam vitae nihil minus ut? Fugiat tempora ut tenetur laudantium optio esse quam consequatur ratione!
          </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
